@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Karla:wght@300;400;700&family=Major+Mono+Display&family=Outfit:wght@400;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #F5F5F5;
  color: #131316;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Karla", sans-serif;
  line-height: 1.6rem;
}

p {
  line-height: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
  margin-top: 0;
}

h2 {
  font-size: 1.953rem;
}

@media (min-width: 720px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1140px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 1320px) {
  html {
    font-size: 24px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.link-line {
  padding-bottom: 0.35rem;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.link-line:hover, .link-line:focus {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-bottom: 0.15rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 2px solid #131316;
}

.btn__primary {
  background-color: #FFFFFC;
  color: #131316;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn__primary:hover, .btn__primary:focus, .btn__primary:active {
  background-color: #131316;
  color: #FFFFFC;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn__primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #FFFFFC;
          box-shadow: 0 0 0 0.25rem #FFFFFC;
}

.btn--previous {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.btn--next {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card-pelicula {
  margin-bottom: 2rem;
}

.card-pelicula__contenido {
  background-color: #131316;
  padding: 0.75rem;
}

.card-pelicula__titulo {
  margin: 0;
  font-size: 1.563rem;
}

.card-pelicula__titulo a {
  color: #FFFFFC;
  text-decoration: none;
}

.card-vertical {
  margin-bottom: 2rem;
}

.card-vertical__contenido {
  background-color: #131316;
  padding: 0.75rem;
}

.card-vertical__titulo {
  margin: 0;
  font-size: 1.563rem;
}

.card-vertical__titulo a {
  color: #FFFFFC;
  text-decoration: none;
}

.card {
  border: none !important;
  border-radius: 0 !important;
  background-color: #F5F5F5;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.disclaimer-text {
  font-size: 0.8rem;
}

.hero {
  height: 70vh;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero__cartel {
  background-color: #FFFFFC;
  position: absolute;
  top: 5%;
  right: 0;
  padding: 0.5rem 2.5rem 0.5em 1.5em;
  max-width: 390px;
}

.hero__leyenda {
  text-transform: uppercase;
  margin-bottom: 0.4rem;
  font-size: 1rem;
}

.hero__titulo {
  font-size: 1.563rem;
}

.hero__pick-link {
  text-decoration: none;
  color: #E3170A;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero__pick-link:hover {
  font-weight: 900;
  color: #E3170A;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 1000px) {
  .hero {
    height: 90vh;
  }
}

@media (min-width: 1700px) {
  .hero__cartel {
    max-width: none;
  }
}

/* .hero__cartel--titulo-solo {
    background-color: $white;
    padding: 1.5rem 2rem;
    position: absolute;
    top: 86%;
    min-width: 339px;

    &__titulo {
        font-size: $size4;
        margin-bottom: 0.75rem;
    }

    &__texto{
        margin-bottom: 0.5rem;
    }
}
 */
/* .hero--cartel-grid{
    display: grid;
    height: 120vh;
    background-color: blue;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: repeat(minmax(150px, 20vh), 7);

    &__img{
       grid-column: 1/12;
       grid-row: 1/7;
       background-color: green;
    }

    &__cartel{
        grid-column: 8/10;
        grid-row: 6/8;
        background-color: white;
        padding: 2rem;
    }
}
 */
.hero-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (15vh)[3] auto auto;
      grid-template-rows: repeat(3, 15vh) auto auto;
}

.hero-grid--cartel-corto {
  -ms-grid-rows: (15vh)[4] auto auto;
      grid-template-rows: repeat(4, 15vh) auto auto;
}

.hero-grid__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-grid__img--cartel-corto {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.hero-grid__cartel {
  background-color: #FFFFFC;
  padding: 1.5rem 2rem;
  z-index: 10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
}

.hero-grid__cartel--cartel-corto {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
}

.hero-grid__titulo {
  font-size: 1.953rem;
  margin-bottom: 0.75rem;
}

.hero-grid__texto {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.hero-grid__texto-final {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

@media (min-width: 576px) {
  .hero-grid {
    /* &__img{
            background-color: violet;
        } */
  }
  .hero-grid__cartel {
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
}

@media (min-width: 768px) {
  .hero-grid {
    -ms-grid-rows: (18vh)[3] auto auto;
        grid-template-rows: repeat(3, 18vh) auto auto;
  }
  .hero-grid__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .hero-grid__cartel {
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7/12;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  .hero-grid__cartel--titulo-largo {
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
    grid-column: 5/12;
  }
}

@media (min-width: 992px) {
  .hero-grid {
    -ms-grid-columns: (1fr)[14];
        grid-template-columns: repeat(14, 1fr);
    -ms-grid-rows: (18vh)[4] auto auto;
        grid-template-rows: repeat(4, 18vh) auto auto;
  }
  .hero-grid__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 14;
    grid-column: 1/15;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }
  .hero-grid__cartel {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
  }
}

@media (min-width: 1200px) {
  .hero-grid {
    -ms-grid-columns: (1fr)[14];
        grid-template-columns: repeat(14, 1fr);
  }
  .hero-grid__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 14;
    grid-column: 1/15;
  }
  .hero-grid__cartel {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
  }
  .hero-grid__cartel--titulo-largo {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
  }
}

@media (min-width: 1400px) {
  .hero-grid {
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
  }
  .hero-grid__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 20;
    grid-column: 1/21;
  }
  .hero-grid__cartel {
    -ms-grid-column: 10;
    -ms-grid-column-span: 7;
    grid-column: 10/17;
  }
  .hero-grid__cartel--titulo-largo {
    -ms-grid-column: 10;
    -ms-grid-column-span: 7;
    grid-column: 10/17;
  }
}

@media (min-width: 1800px) {
  .hero-grid__cartel {
    -ms-grid-column: 10;
    -ms-grid-column-span: 5;
    grid-column: 10/15;
  }
  .hero-grid__cartel--titulo-largo {
    -ms-grid-column: 10;
    -ms-grid-column-span: 5;
    grid-column: 10/15;
  }
}

@media (min-width: 2000px) {
  .hero-grid__cartel,
  .hero-grid__cartel--titulo-largo {
    -ms-grid-column: 10;
    -ms-grid-column-span: 4;
    grid-column: 10/14;
  }
}

@media (min-width: 2700px) {
  .hero-grid__cartel,
  .hero-grid__cartel--titulo-largo {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10/13;
  }
}

#historial_peliculas {
  background-image: url(../img/hero/hero_historial_peliculas.jpg);
}

#about {
  background-image: url(../img/hero/hero_about2.png);
}

#peliculas_2021 {
  background-image: url(../img/hero/hero_2021.jpg);
}

#peliculas_2020 {
  background-image: url(../img/hero/hero_2020.jpg);
}

#peliculas_2022 {
  background-image: url(../img/hero/hero_2022.jpg);
}

#seleccion_peliculas {
  background-image: url(../img/hero/hero_seleccion_peliculas.jpg);
}

#picks_paz {
  background-image: url(../img/hero/hero_picks_paz.jpg);
}

#picks_pollo {
  background-image: url(../img/hero/hero_picks_pollo.jpg);
}

#picks_loco {
  background-image: url(../img/hero/hero_picks_loco.jpg);
}

#picks_geor {
  background-image: url(../img/hero/hero_picks_geor.jpg);
}

#antiviral {
  background-image: url(../img/hero/hero_antiviral.jpg);
  background-position: left;
}

#as_gods_will {
  background-image: url(../img/hero/hero_as_gods_will.jpg);
}

#bad_taste {
  background-image: url(../img/hero/hero_bad_taste.jpg);
}

#battle_royale {
  background-image: url(../img/hero/hero_battle_royale.jpg);
}

#black_rainbow {
  background-image: url(../img/hero/hero_black_rainbow.jpg);
}

#black_sheep {
  background-image: url(../img/hero/hero_black_sheep.jpg);
}

#brazil {
  background-image: url(../img/hero/hero_brazil.jpg);
  background-position: left;
}

#brick {
  background-image: url(../img/hero/hero_brick.jpg);
}

#climax {
  background-image: url(../img/hero/hero_climax.jpg);
}

#coherence {
  background-image: url(../img/hero/hero_coherence.jpg);
}

#cooties {
  background-image: url(../img/hero/hero_cooties.jpg);
  background-position: left;
}

#cyborg {
  background-image: url(../img/hero/hero_cyborg.jpg);
}

#dark_city {
  background-image: url(../img/hero/hero_dark_city.jpg);
}

#enter_void {
  background-image: url(../img/hero/hero_enter_void.jpg);
  background-position: 35% center;
}

#milagro_ptinto {
  background-image: url(../img/hero/hero_milagro_ptinto.jpg);
}

#escape_la {
  background-image: url(../img/hero/hero_escape_la.jpg);
}

#fantastic_fox {
  background-image: url(../img/hero/hero_fantastic_fox.jpg);
  padding-top: 50px;
}

#fear_loathing {
  background-image: url(../img/hero/hero_fear_loathing.jpg);
}

#gattaca {
  background-image: url(../img/hero/hero_gattaca.jpg);
}

#guns_akimbo {
  background-image: url(../img/hero/hero_guns_akimbo.jpg);
}

#john_dies_end {
  background-image: url(../img/hero/hero_john_dies_end.jpg);
  background-position: right;
}

#juan_muertos {
  background-image: url(../img/hero/hero_juan_muertos.jpg);
}

#heavy_metal {
  background-image: url(../img/hero/hero_heavy_metal.jpg);
}

#holy_motors {
  background-image: url(../img/hero/hero_holy_motors.jpg);
}

#human_nature {
  background-image: url(../img/hero/hero_human_nature.jpg);
}

#thinking_ending {
  background-image: url(../img/hero/hero_thinking_ending.jpg);
}

#mouth_madness {
  background-image: url(../img/hero/hero_mouth_madness.jpg);
}

#kill_bill {
  background-image: url(../img/hero/hero_kill_bill.jpg);
}

#labyrinth {
  background-image: url(../img/hero/hero_labyrinth.jpg);
}

#logans_run {
  background-image: url(../img/hero/hero_logans_run.jpg);
}

#man_moon {
  background-image: url(../img/hero/hero_man_moon.jpg);
}

#midsommar {
  background-image: url(../img/hero/hero_midsommar.jpg);
}

#mind_game {
  background-image: url(../img/hero/hero_mind_game.jpg);
}

#mishima {
  background-image: url(../img/hero/hero_mishima.jpg);
}

#mood_indigo {
  background-image: url(../img/hero/hero_mood_indigo.jpg);
}

#moon {
  background-image: url(../img/hero/hero_moon.jpg);
  background-position: left;
}

#mother {
  background-image: url(../img/hero/hero_mother.jpg);
}

#muertos_risa {
  background-image: url(../img/hero/hero_muertos_risa.jpg);
}

#mulholland_drive {
  background-image: url(../img/hero/hero_mulholland_drive.jpg);
}

#nuit_noire {
  background-image: url(../img/hero/hero_nuit_noire.jpg);
  background-position: right;
}

#oldboy {
  background-image: url(../img/hero/hero_oldboy.jpg);
}

#only_lovers {
  background-image: url(../img/hero/hero_only_lovers.jpg);
}

#outrage {
  background-image: url(../img/hero/hero_outrage.jpg);
  background-position: left;
}

#paprika {
  background-image: url(../img/hero/hero_paprika.jpg);
}

#perfect_blue {
  background-image: url(../img/hero/hero_perfect_blue.jpg);
  background-position: center;
}

#pontypool {
  background-image: url(../img/hero/hero_pontypool.jpg);
  background-position: left;
}

#ravenous {
  background-image: url(../img/hero/hero_ravenous.jpg);
}

#reanimator {
  background-image: url(../img/hero/hero_reanimator.jpg);
}

#rumba {
  background-image: url(../img/hero/hero_rumba.jpg);
}

#slacker {
  background-image: url(../img/hero/hero_slacker.jpg);
}

#snatch {
  background-image: url(../img/hero/hero_snatch.jpg);
}

#suspiria_2018 {
  background-image: url(../img/hero/hero_suspiria_2018.jpg);
  background-position: center right;
}

#suspiria_1977 {
  background-image: url(../img/hero/hero_suspiria_1977.jpg);
  background-position: 5% left;
}

#swiss_army_man {
  background-image: url(../img/hero/hero_swiss_army_man.jpg);
  background-position: left;
}

#synecdoche {
  background-image: url(../img/hero/hero_synecdoche.jpg);
  background-position: left;
}

#tale_tales {
  background-image: url(../img/hero/hero_tale_tales.jpg);
}

#baron {
  background-image: url(../img/hero/hero_baron.jpg);
}

#double {
  background-image: url(../img/hero/hero_double.jpg);
}

#french_dispatch {
  background-image: url(../img/hero/hero_french_dispatch.jpg);
  background-position: left;
}

#holy_mountain {
  background-image: url(../img/hero/hero_holy_mountain.jpg);
}

#neon_demon {
  background-image: url(../img/hero/hero_neon_demon.jpg);
}

#host {
  background-image: url(../img/hero/hero_host.jpg);
}

#rocky_horror {
  background-image: url(../img/hero/hero_rocky_horror.jpg);
}

#lighthouse {
  background-image: url(../img/hero/hero_lighthouse.jpg);
}

#master {
  background-image: url(../img/hero/hero_master.jpg);
}

#thx_1138 {
  background-image: url(../img/hero/hero_thx_1138.jpg);
}

#time_bandits {
  background-image: url(../img/hero/hero_time_bandits.jpg);
}

#time_gypsies {
  background-image: url(../img/hero/hero_time_gypsies.jpg);
  background-position: 10% left;
}

#tokyo_godfathers {
  background-image: url(../img/hero/hero_tokyo_godfathers.jpg);
}

#top_secret {
  background-image: url(../img/hero/hero_top_secret.jpg);
}

#trainspotting {
  background-image: url(../img/hero/hero_trainspotting.jpg);
}

#troll_hunter {
  background-image: url(../img/hero/hero_troll_hunter.jpg);
  background-position: center;
}

#true_romance {
  background-image: url(../img/hero/hero_true_romance.jpg);
}

#tucker_dale_evil {
  background-image: url(../img/hero/hero_tucker_dale_evil.jpg);
}

#buen_dia {
  background-image: url(../img/hero/hero_buen_dia.jpg);
}

#vampire_kiss {
  background-image: url(../img/hero/hero_vampire_kiss.jpg);
}

#volver {
  background-image: url(../img/hero/hero_volver.jpg);
}

#waking_life {
  background-image: url(../img/hero/hero_waking_life.jpg);
  background-position: left;
}

#what_we_do_shadows {
  background-image: url(../img/hero/hero_what_we_do_shadows.jpg);
}

#wayward_cloud {
  background-image: url(../img/hero/hero_wayward_cloud.jpg);
}

.poster {
  margin-bottom: 2rem;
}

.footer {
  background-color: #131316;
  padding: 1.2rem 0;
  color: #FFFFFC;
}

.footer p,
.footer i {
  margin-bottom: 0;
}

.footer__heart {
  color: #E3170A;
}

.footer a {
  color: #FFFFFC !important;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer a:hover, .footer a:focus {
  color: #E3170A !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.grid-peliculas {
  padding: 1.5rem 0;
}

.navbar {
  background-color: #131316;
}

.navbar-brand {
  font-size: 1.563rem;
  font-family: "Major Mono Display", monospace;
  padding: 0;
}

.navbar .nav-link {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.navbar-dark,
.navbar-brand,
.navbar-nav,
.nav-link {
  color: #FFFFFC !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-dark:hover, .navbar-dark:focus,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-nav:hover,
.navbar-nav:focus,
.nav-link:hover,
.nav-link:focus {
  color: #E3170A !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-dark,
.navbar-toggler {
  color: rgba(255, 255, 252, 0.3);
}

.navbar-dark:hover, .navbar-dark:focus,
.navbar-toggler:hover,
.navbar-toggler:focus {
  color: rgba(255, 255, 252, 0.3);
}

/* 
// Color para mostrar página activa en navbar
.active {
    font-weight: 700;
    color: $white !important;
}
*/
.main-content {
  padding: 3rem 0;
}

.main-text {
  padding: 0 0 1.5rem 0;
}

.main-img {
  margin: 3rem auto;
  max-width: 2145px;
}

.main__titulo {
  font-size: 2.441rem;
  margin-bottom: 2rem;
}

.pelicula-info {
  background-color: #FFFFFC;
  padding: 1.5rem 2rem;
  position: absolute;
  top: 86%;
  min-width: 339px;
  max-width: 380px;
}

.pelicula-info__titulo {
  font-size: 1.953rem;
  margin-bottom: 0.75rem;
}

.pelicula-info__texto {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.pelicula-info--titulo-largo {
  top: 75%;
}

.pelicula__hero {
  position: relative;
  margin-bottom: 4.5rem;
}

.pelicula__hero .hero {
  height: 90vh;
}

#pelicula_btn_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .pelicula__hero {
    margin-bottom: 4.5rem;
  }
  .pelicula__hero .hero {
    height: 90vh;
  }
}

@media (min-width: 992px) {
  .pelicula__hero {
    margin-bottom: 3rem;
  }
  .pelicula__hero .hero {
    height: 90vh;
  }
  .pelicula__hero .pelicula-info {
    top: 78%;
    max-width: 460px;
  }
  .pelicula__hero .pelicula-info--titulo-largo {
    top: 70%;
  }
}

@media (min-width: 992px) and (min-width: 1320px) {
  .pelicula__hero .hero {
    height: 80vh;
  }
  .pelicula-info {
    top: 89%;
    max-width: 490px;
  }
  .pelicula-info--titulo-largo {
    top: 76%;
  }
}

@media (min-width: 992px) and (min-width: 1320px) {
  .pelicula-info__titulo {
    font-size: 1.953rem;
  }
  .pelicula-info__texto {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .pelicula__sinopsis {
    margin-top: 1rem;
  }
  .pelicula__sinopsis__texto {
    line-height: 2.5;
  }
  .pelicula__actor {
    max-width: 200px;
    text-align: center;
  }
  figcaption .pelicula__actor__name {
    text-align: center !important;
  }
}

@media (min-width: 992px) and (max-width: 100px) {
  .pelicula_actor_name {
    text-align: center;
  }
}

@media (min-width: 992px) and (min-width: 100px) {
  .pelicula__actor__name {
    text-align: center;
  }
}

/* .hero-cartel {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    height: 110vh;
    background-color: red;
}
.hero{
    grid-column: 1/13;
    grid-row: 1/4;
}
.pelicula-info{
    grid-row: 3/4;
} */
/*# sourceMappingURL=main.css.map */