// Página películas individuales
// Película hero + info
.pelicula-info {
    background-color: $white;
    padding: 1.25rem 1rem;
    position: absolute;
    top: 90%;

    &__titulo {
        font-size: $size4;
        margin-bottom: 0.75rem;
    }

    &__texto{
        margin-bottom: 0.5rem;
    }
}

.pelicula__hero {
    position: relative;
    margin-bottom: $padding-main*2; // Separa Sinopsis de hero
    // Modificación de hero para películas individuales
    .hero {
        height: 60vh;
        // Vh mobile
    }
}

@media(min-width: 768px){
    .pelicula__hero {
        margin-bottom: $padding-main;
        .hero {
            height: 80vh;
        }
    }
}
@media(min-width: 992px){
    .pelicula__hero {
        .hero {
            height: 100vh;
        }
    }
    .pelicula-info{
        top: 86%;
    }
}

// Película contenido 
.pelicula__titulo {
        font-size: $size2;
        margin-bottom: 1.5rem;
}

.pelicula__sinopsis {
    &__texto {
        line-height: 2.5;
    }
}

