// Página películas individuales
// Película hero + info
.pelicula-info {
    background-color: $white;
    padding: 1.5rem 2rem;
    position: absolute;
    top: 86%;
    min-width: 339px;

    &__titulo {
        font-size: $size4;
        margin-bottom: 0.75rem;
    }

    &__texto{
        margin-bottom: 0.5rem;
    }
}

.pelicula__hero {
    position: relative;
    margin-bottom: $padding-main; // Separa Sinopsis de hero
    // Modificación de hero para películas individuales
    .hero {
        height: 80vh;
        // Vh mobile
    }
}

@media(max-width: 768px){
    .pelicula__hero {
        margin-bottom: $padding-main;
        .hero {
            height: 80vh;
        }
    }
}
@media(min-width: 992px){
    .pelicula__hero {
        .hero {
            height: 100vh;
        }
    }
    .pelicula-info{
        top: 86%;
    }
}

// Película contenido 
.pelicula__titulo {
        
}

.pelicula__sinopsis {
    margin-top: 1rem;
    
    &__texto {
        line-height: 2.5;
    }
}

// Película Elenco
.pelicula__actor {
    max-width: 200px;
    
    &__nombre{
        font-size: $size7;
        text-align: center;
        margin-top: 0.15rem;
    }
}

