.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: 2px solid $black;

    &__primary {
        background-color: $white;
        color: $black;

        &:hover,
        &:focus, 
        &:active {
            background-color: $black;
            color: $white;
        }
        
        &:focus {
            box-shadow: 0 0 0 0.25rem $white;
        } 
    }

}