
.hero {
    height: 95vh;
    padding: 2em 0;
    display: flex;
    @include background-image;
    position: relative;

    &__cartel {
        background-color: $white;
        position: absolute;
        top: 5%;
        right: 0;
        padding: 0.75rem 2.5rem 0.75em 1.5em;
    }

    &__leyenda {
        text-transform: uppercase;
        margin-bottom: 0.4rem;
        font-size: $size6;
    }

    &__titulo {
        font-size: $size4;
    }
}


// Img fondo index
#index {
    background-image: url(../img/hero/hero-suspiria-2018.jpg);
    background-position: 35% center;
}