// Imgs de fondo
#historial_peliculas{
    background-image: url(../img/hero/hero_historial_peliculas.jpg);
}

#about{
    background-image: url(../img/hero/hero_about2.png);
}

#peliculas_2021{
    background-image: url(../img/hero/hero_2021.jpg);
}

#peliculas_2020{
    background-image: url(../img/hero/hero_2020.jpg);
}

#seleccion_peliculas{
    background-image: url(../img/hero/hero_seleccion_peliculas.jpg);
}

// Antiviral
#antiviral{
    background-image: url(../img/hero/hero_antiviral.jpg);
    background-position: left;
}
// As the Gods Will
#as_gods_will{
    background-image: url(../img/hero/hero_as_gods_will.jpg);
}
// Bad Taste
#bad_taste{
    background-image: url(../img/hero/hero_bad_taste.jpg);
}
// Beyond the Black Rainbow
#black_rainbow{
    background-image: url(../img/hero/hero_black_rainbow.jpg);
}
// Black Sheep
#black_sheep{
    background-image: url(../img/hero/hero_black_sheep.jpg);
}
// Brazil
#brazil {
    background-image: url(../img/hero/hero_brazil.jpg);
    background-position: left;
}
// Brick
#brick{
    background-image: url(../img/hero/hero_brick.jpg);
}
// Climax
#climax{
    background-image: url(../img/hero/hero_climax.jpg);
}
// Coherence
#coherence {
    background-image: url(../img/hero/hero_coherence.jpg);
}
// Cooties
#cooties{
    background-image: url(../img/hero/hero_cooties.jpg);
    background-position: left;
}
// I'm a Cyborg but that's ok
#cyborg{
    background-image: url(../img/hero/hero_cyborg.jpg);
}
// Dark City
#dark_city{
    background-image: url(../img/hero/hero_dark_city.jpg);
}
// Enter the Void
#enter_void{
    background-image: url(../img/hero/hero_enter_void.jpg);
    background-position: 35% center;
}
// El milagro de P Tinto
#milagro_ptinto{
    background-image: url(../img/hero/hero_milagro_ptinto.jpg);
}
// Escape from L.A.
#escape_la {
    background-image: url(../img/hero/hero_escape_la.jpg);
}
// Fantastic Mr Fox
#fantastic_fox {
    background-image: url(../img/hero/hero_fantastic_fox.jpg);
    padding-top: 50px;
}
// Fear and Loathing in Las Vegas
#fear_loathing {
    background-image: url(../img/hero/hero_fear_loathing.jpg);
}
// Gattaca
#gattaca {
    background-image: url(../img/hero/hero_gattaca.jpg);
}
// John Dies at the End
#john_dies_end{
    background-image: url(../img/hero/hero_john_dies_end.jpg);
    background-position: right;
}
// Juan de los muertos
#juan_muertos{
    background-image: url(../img/hero/hero_juan_muertos.jpg);
}
// Heavy Metal
#heavy_metal{
    background-image: url(../img/hero/hero_heavy_metal.jpg);
}
// Holy Motors
#holy_motors{
    background-image: url(../img/hero/hero_holy_motors.jpg);
}
// Human Nature
#human_nature{
    background-image: url(../img/hero/hero_human_nature.webp);
}
// I'm Thinking of Ending Things
#thinking_ending {
    background-image: url(../img/hero/hero_thinking_ending.jpg);
}
// In the Mouth of Madness
#mouth_madness{
    background-image: url(../img/hero/hero_mouth_madness.jpg);
}
// Kill Bill
#kill_bill{
    background-image: url(../img/hero/hero_kill_bill.jpg);
}
// Labyrinth
#labyrinth{
    background-image: url(../img/hero/hero_labyrinth.jpg);
}
// Logan's Run
#logans_run {
    background-image: url(../img/hero/hero_logans_run.jpg);
}
// Man on the Moon
#man_moon{
    background-image: url(../img/hero/hero_man_moon.jpg);
}
// Midsommar
#midsommar {
    background-image: url(../img/hero/hero_midsommar.webp);
}
// Mind Game
#mind_game {
    background-image: url(../img/hero/hero_mind_game.jpg);
    background-position: left;
}
// Mishima
#mishima {
    background-image: url(../img/hero/hero_mishima.jpg);
}
// Mood Indigo
#mood_indigo{
    background-image: url(../img/hero/hero_mood_indigo.jpg);
}
// Moon
#moon {
    background-image: url(../img/hero/hero_moon.jpg);
    background-position: left;
}
// Mother
#mother{
    background-image: url(../img/hero/hero_mother.jpg);
}
// Muertos de risa
#muertos_risa{
    background-image: url(../img/hero/hero_muertos_risa.jpg);
}
// Mulholland Drive
#mulholland_drive{
    background-image: url(../img/hero/hero_mulholland_drive.jpg);
}
// Nuit Noire
#nuit_noire {
    background-image: url(../img/hero/hero_nuit_noire.webp);
    background-position: right;
}
// Old Boy 
#oldboy{
    background-image: url(../img/hero/hero_oldboy.jpg);
}
// Only Lovers Left Alive
#only_lovers{
    background-image: url(../img/hero/hero_only_lovers.jpg);
}
// Outrage
#outrage{
    background-image: url(../img/hero/hero_outrage.jpg);
    background-position: left;
}
// Paprika
#paprika{
    background-image: url(../img/hero/hero_paprika.jpg);
}
// Perfect Blue
#perfect_blue{
    background-image: url(../img/hero/hero_perfect_blue.jpg);
    background-position: center;
}
// Pontypool
#pontypool{
    background-image: url(../img/hero/hero_pontypool.jpg);
    background-position: left;
}
// Ravenous
#ravenous{
    background-image: url(../img/hero/hero_ravenous.jpg);
}
// Reanimator
#reanimator {
    background-image: url(../img/hero/hero_reanimator.jpg);
}
// Rumba
#rumba{
    background-image: url(../img/hero/hero_rumba.jpg);
}
// Slacker
#slacker {
    background-image: url(../img/hero/hero_slacker.jpg);
}
// Snatch
#snatch{
    background-image: url(../img/hero/hero_snatch.jpg);
}
// Suspiria
#suspiria_2018{
    background-image: url(../img/hero/hero_suspiria_2018.jpg);
    background-position: center right;
}
#suspiria_1977{
    background-image: url(../img/hero/hero_suspiria_1977.jpg);
    background-position: 5% left;
}
// Swiss Army Man
#swiss_army_man{
    background-image: url(../img/hero/hero_swiss_army_man.jpg);
    background-position: left;
}
// Synecdoche, New York
#synecdoche{
    background-image: url(../img/hero/hero_synecdoche.jpg);
    background-position: left;
}
// Tale of Tales
#tale_tales{
    background-image: url(../img/hero/hero_tale_tales.webp);
}
// The Adventure of Baron Munchausen
#baron{
    background-image: url(../img/hero/hero_baron.jpg);
}
// The Double
#double{
    background-image: url(../img/hero/hero_double.jpg);
}
// The French Dispatch
#french_dispatch {
    background-image: url(../img/hero/hero_french_dispatch.jpg);   
    background-position: left;
}
// The Holy Mountain
#holy_mountain{
    background-image: url(../img/hero/hero_holy_mountain.jpg);
}
// The Neon Demon
#neon_demon{
    background-image: url(../img/hero/hero_neon_demon.jpg);
}
// The Host
#host{
    background-image: url(../img/hero/hero_host.jpg);
}
// The Rocky Horror Picture Show
#rocky_horror{
    background-image: url(../img/hero/hero_rocky_horror.jpg);
}
// The Lighthouse
#lighthouse{
    background-image: url(../img/hero/hero_lighthouse.jpg);
}
// The Master
#master{
    background-image: url(../img/hero/hero_master.jpg);
}
// THX 1138
#thx_1138{
    background-image: url(../img/hero/hero_thx_1138.jpg);
}
// Time Bandits
#time_bandits {
    background-image: url(../img/hero/hero_time_bandits.jpg);
}
// Time of the Gypsies
#time_gypsies {
    background-image: url(../img/hero/hero_time_gypsies.jpg);
    background-position: 10% left;
}
// Tokyo Godfathers
#tokyo_godfathers{
    background-image: url(../img/hero/hero_tokyo_godfathers.jpg);
}
// Top Secret
#top_secret {
    background-image: url(../img/hero/hero_top_secret.jpg);
}
// Trainspotting
#trainspotting{
    background-image: url(../img/hero/hero_trainspotting.jpg);
}
// Trollhunter
#troll_hunter{
    background-image: url(../img/hero/hero_troll_hunter.jpg);
    background-position: center;
}
// True Romance
#true_romance{
    background-image: url(../img/hero/hero_true_romance.jpg);
}
// Tucker and Dale vs Evil
#tucker_dale_evil {
    background-image: url(../img/hero/hero_tucker_dale_evil.webp);
}
// Un buen día
#buen_dia{
    background-image: url(../img/hero/hero_buen_dia.jpg);
}
// Volver
#volver{
    background-image: url(../img/hero/hero_volver.jpg);
}
// Waking Life
#waking_life {
    background-image: url(../img/hero/hero_waking_life.jpg);
    background-position: left;
}
// What We Do in the Shadows
#what_we_do_shadows {
    background-image: url(../img/hero/hero_what_we_do_shadows.jpg);
}
// The Wayward Cloud
#wayward_cloud{
    background-image: url(../img/hero/hero_wayward_cloud.jpg);
}