
.hero {
    height: 95vh;
    padding: 2em 0;
    display: flex;
    @include background-image;
    position: relative;

    &__cartel {
        background-color: $white;
        position: absolute;
        top: 5%;
        right: 0;
        padding: 0.5rem 2.5rem 0.5em 1.5em;
    }

    &__leyenda {
        text-transform: uppercase;
        margin-bottom: 0.4rem;
        font-size: $size6;
    }

    &__titulo {
        font-size: $size4;
    }
}

