// Imgs de fondo
// Index
#index {
    background-image: url(../img/hero/hero_ravenous.jpg);
<<<<<<< HEAD
=======
    background-position: right;
>>>>>>> hero-test
}

#historial_peliculas{
    background-image: url(../img/hero/hero_historial_peliculas.jpg);
}

#peliculas_2021{
    background-image: url(../img/hero/hero_2021.jpg);
}

#peliculas_2020{
    background-image: url(../img/hero/hero_2020.jpg);
}

// 2021
// Fantastic Mr Fox
#fantastic_fox {
    background-image: url(../img/hero/hero_fantastic_fox.jpg);
    padding-top: 50px;
}
#suspiria_2018{
    background-image: url(../img/hero/hero_suspiria_2018.jpg);
    background-position: 35% center;
}
#suspiria_2018b{
    background-image: url(../img/hero/hero_suspiria_2018_b.jpg);
    background-position: center right;
}