// Mixin para imágenes de fondo
@mixin background-image {
    max-width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Mixin para título película en cartel index e info en página película
@mixin pelicula-titulo {
    
}