// Colores
$black: #131316;
$white: #FFFFFC;
$light-gray: #F5F5F5;
$dark-gray: #D9D9D9;
$primary: #E3170A;
// $secondary: green;

// Fuentes
$font-text: 'Karla', sans-serif;
$font-title: 'Cardo', serif;
$font-logo: 'Major Mono Display', monospace;

// Tamaños
$size1: 3.052rem;
$size2: 2.441rem;
$size3: 1.953rem;
$size4: 1.563rem;
$size5: 1.25rem;
$size6: 1rem;
$size7: 0.8rem;
$size8: 0.64rem;

$size-large: 3.815rem;
$size-xxl: 4.768rem;

$size-mobile: 17px;
$size-tablet: 19px;
$size-desktop: 22px;
$size-desktop-lg: 24px;

// Padding
$padding-main: 3rem;
$padding-main-mobile: 4.5rem;
$padding-main-desktop: 3rem;
$padding-inner: 1.5rem;