// Colores
$black: black;
$white: white;
$primary: red;
$secondary: green;

// Fuentes
$font-text: sans-serif;
$font-title: serif;
$font-logo: sans-serif;

// Tamaños
$size1: 3.052rem;
$size2: 2.441rem;
$size3: 1.953rem;
$size4: 1.563rem;
$size5: 1.25rem;
$size6: 1rem;
$size7: 0.8rem;
$size8: 0.64rem;

$size-mobile: 16px;
$size-tablet: 18px;
$size-desktop: 20px;

